form{

    text-align: center;
    width: 400px;
    margin: 20px auto;

}

.campos{

    width: 200px;
    height: 20px;
    border: 2 ;
    border: 2px rgb(13, 3, 151);
    border-radius: 10px;

}

.botoes_salvar{

    text-transform: uppercase;
    font-size: 15px;
    border: none;
    margin-top: 20px;
    width: 100px;
    height: 20px;
    border-radius: 10px;

}

.botoes_salvar:hover{

    cursor: pointer;
}

.botoes_salvar{

    color: rgb(252, 252, 252);
    background-color: rgb(15, 224, 85);

}


.botoes_limpar{

    text-transform: uppercase;
    font-size: 15px;
    border: none;
    margin-top: 20px;
    width: 100px;
    height: 20px;
    border-radius: 10px;

}

.botoes_limpar{

    color: rgb(252, 252, 252);
    background-color: rgb(231, 10, 10);

}