body {
    color: rgb(10, 7, 7);
    background: rgb(228, 221, 221);
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#logo img{
    width: 100px;
    border-radius: 5px;
}

#imagem img{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #fff;
}
#imagem{
    width: 80%;
    margin: auto;
}

a{
    color:#130b0b;
    text-decoration: none;
}


li{

    display: inline-block;
    margin: 10px;
    font-size: 20px;

    
}   


li:hover{
    border: 1px solid;
    background: white;
    font-weight: bold;
}

ul{
    
    text-align: center;
    padding-inline-start: 0px;
    
}


main{
    width: 100%;
    min-width: 300px;
    margin: 10px auto;
   
}

footer{
    color: #070705;
    text-align: center;
    height: 40px;
    width: 100%;

}

main form input{

    margin-bottom: 10px;
}

