#funcionario{

    width: 80%;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}

#funcionario thead{

    background-color: rgb(41, 148, 236);
    text-transform: uppercase;
}


.botao_editar{
 
    text-transform: uppercase;
    font-size: 15px;
    border: none;
    margin-top: 20px;
    width: 100px;
    height: 20px;
    border-radius: 10px;   
    color: rgb(10, 4, 4);
    background-color: rgb(253, 230, 25); 
   
}

.botao_editar:hover{

    cursor: pointer;
    border: 1px solid;
    font-weight: bold;
    
}

tbody tr{

    background-color: rgb(37, 120, 158);
    color: rgb(255, 250, 250);
}

.botao_deletar{

    text-transform: uppercase;
    font-size: 15px;
    border: none;
    margin-top: 20px;
    width: 100px;
    height: 20px;
    border-radius: 10px;   
    color: rgb(252, 252, 252);
    background-color: rgb(231, 10, 10); 
    

}

.botao_deletar:hover{

    cursor: pointer;
    border: 1px solid;
    font-weight: bold;
}